<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<profiles>
		<profile>
			<repositories>
				<!-- <repository> -->
				<!-- <id>actual-public-mvn</id> -->
				<!-- <url>https://repo1.maven.org/maven2</url> -->
				<!-- </repository> -->
				<repository>
					<id>
						gelreportmodel-gitlab
					</id>
					<url>
						https://gitlab.com/api/v4/projects/11692019/packages/maven
					</url>
				</repository>
				<repository>
					<id>
						codeartifact
					</id>
					<url>
						https://artifactory.aws.gel.ac/artifactory/npm_cdn.npmmirror.com/
					</url>
				</repository>
			</repositories>
			<id>
				gitlab
			</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>
			gitlab
		</activeProfile>
	</activeProfiles>
	<servers>
		<server>
			<id>
				gelreportmodel-gitlab
			</id>
			<configuration>
				<httpHeaders>
					<property>
						<!-- <name>Deploy-Token</name> -->
						<!-- <value>${server.password}</value> -->
						<name>
							Private-Token
						</name>
						<value>
							reportmodelpassword
						</value>
					</property>
				</httpHeaders>
			</configuration>
		</server>
	</servers>
	<!-- <proxies> -->
	<!-- <proxy> -->
	<!-- <id>optional</id> -->
	<!-- <active>true</active> -->
	<!-- <protocol>http</protocol> -->
	<!-- <username>proxyuser</username> -->
	<!-- <password>proxypass</password> -->
	<!-- <host>proxy-dmz.gel.zone</host> -->
	<!-- <port>80</port> -->
	<!-- <nonProxyHosts>localhost|127.0.0.1|localaddress|.localdomain.com|.gel.zone|.genomicsengland.nhs.uk</nonProxyHosts> -->
	<!-- </proxy> -->
	<!-- </proxies> -->
</settings>
